<div class="topbar">
  <app-toolbar></app-toolbar>
</div>

<div class="player">
  <div class="player-turn">
    <p *ngIf=" !isFinished && currentPlayer === 1" class="player1">Player 1 </p>
    <p *ngIf="!isFinished && currentPlayer === 2" class="player2">Player 2 </p>
    <p>   turn</p>
    <p *ngIf="isFinished && winner === 1" class="player1">Red won</p>
    <p *ngIf="isFinished && winner === 2" class="player2">Yellow won</p>
    <p *ngIf="isFinished && winner === 3" class="draw">Draw</p>
  </div>
</div>

<div class="grid-div">
  <table class="grid">
    <tbody>
    <tr *ngFor="let line of grid; let x = index">
      <td *ngFor="let cell of line; let y = index">
        <app-cell infos="{{x}},{{y}}--{{cell}}" [position]="{x:x, y:y}" [player]="cell"
                  (isClicked)="cellClick($event)"></app-cell>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="button">
  <button mat-flat-button class="replay-button" (click)="newGame()">
    Replay
  </button>
</div>

<div>
  <app-suggestion-form></app-suggestion-form>
</div>


