.grid {
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: auto;
  border-radius: 15px;

}

table {
  padding: 20px;
}

td, tr {
  padding: 0;
  border-spacing: 0;
}

.grid-title {
  font-size: x-large;
}

mat-toolbar {
  background: #212121;
  color: #fff;
}
