<div class="topbar">
  <app-toolbar></app-toolbar>
</div>

<div class="player">
  <div class="player-turn animate__animated animate__fadeInRight">
    <p *ngIf="!_state.isFinished && _state.currentPlayer === 1" class="player1">Player 1 <span
      *ngIf="!_state.isFinished">turn</span></p>
    <p *ngIf="!_state.isFinished && _state.currentPlayer === 2" class="player2">Player 2 <span
      *ngIf="!_state.isFinished">turn</span></p>
    <p *ngIf="_state.isFinished && _state.winner === 1" class="player1">Red won</p>
    <p *ngIf="_state.isFinished && _state.winner === 2" class="player2">Yellow won</p>
    <p *ngIf="_state.isFinished && _state.winner === 3" class="draw">Draw</p>
  </div>
</div>

<div class="grid-div">
  <div class="grid">
    <div *ngFor="let line of _state.grid; let x = index" class="row-grid">
      <div *ngFor="let cell of line; let y = index" class="cell-grid">
        <app-cell (isClicked)="cellClick($event)" [player]="cell" [position]="{x:x, y:y}"
                  infos="{{x}},{{y}}--{{cell}}"></app-cell>
      </div>
    </div>
  </div>
</div>

<div class="button">
  <button mat-flat-button class="replay-button" (click)="newGame()">
    Replay
  </button>
</div>

<div>
  <app-suggestion-form></app-suggestion-form>
</div>


