.grid {
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: auto;
  border-radius: 15px;

}

.button{
  margin: 10px;
  display: flex;
  justify-content: center;
}

table {
  padding: 20px;
}

td, tr {
  padding: 0;
  border-spacing: 0;
}

.grid-title {
  font-size: x-large;
}

mat-toolbar {
  background: #212121;
  color: #fff;
}

.player {
  margin: auto;
  display: flex;
  justify-content: center;
}

.player-turn {
  font-size: 35px;
}


.player1 {
  color: red;
}

.player2 {
  color: yellow;
}
